<div class="list">
  <!-- <div class="item item--odd">
    <p class="item__name">Gepeto Gimenes</p>
    <p class="item__age"> 29 anos</p>
  </div> -->
  <app-person 
      *ngFor="let person of listPessoas;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isOdd = odd;"
      [personName]="person.name"
      [personAge]="person.age"
      [index]="i"
      [isFirst]="isFirst"
      [isLast]="isLast"
      [isOdd]="isOdd"
      [isSelected]="personSelectedIndex === i"
      (personSelected)="selectPerson($event)"
      ></app-person>
</div>
 
<!-- <div *ngFor="let item of listPessoas">
  {{item}}
  @Input({required: true}) personName: string = '';
  @Input({required: true}) personAge : number = 0;
  @Input({required: true}) index: number = 0;
  @Input({required: true}) isFirst: boolean = false;
  @Input({required: true}) isLast: boolean = false;
  @Input({required: true}) isOdd: boolean = false;
  @Input({required: true}) isSelected: boolean = false;
</div> -->